@charset "UTF-8";
/* --------------------------------------------------
   Template by espace（https://espace.monbalcon.net/）
   Copyright: 2020 espace.

   利用規約を遵守の上、ご利用ください。
   二次配布、販売は禁止しています。
   --------------------------------------------------*/

/* ----- ▼ リセット　ここから（基本的には触らない方が良い部分） ▼ ----- */
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:focus {
  outline: none;
}

a {
  text-decoration: none;
}

a,
a::after,
a::before,
button,
button::after,
button::before,
input,
textarea,
select {
  transition: all 0.7s;
}

a img,
button img {
  transition-duration: 0.35s;
}

button {
  outline: none;
  background: transparent;
  border: 0;
  cursor: pointer;
  cursor: hand;
}

input,
textarea,
select {
  font-size: 1.6rem;
}

input,
textarea {
  box-shadow: none;
  -webkit-appearance: none;
}

select {
  appearance: button;
}

p,
dl,
ul,
form {
  margin: 25px 0;
  word-break: break-all;
}

p:last-child,
dl:last-child,
ul:last-child,
form:last-child {
  margin-bottom: 0;
}

img {
  vertical-align: middle;
}

@media only screen and (max-width: 900px) {
  p,
  form {
    margin: 0 0 1.7rem;
  }
  p:last-child,
  form:last-child {
    margin-bottom: 0;
  }
}
/* ----- ▲ リセット　ここまで（基本的には触らない方が良い部分） ▲ ----- */

/* ----- ▼ レイアウト　ここから ▼ ----- */
/* 基本 */
body {
  margin: 0;
  padding: 0;
  background: #f4f6fc;
  width: 100%;
  position: relative;
}

@media only screen and (min-width: 900px) {
  #__next::before {
    content: "";
    display: block;
    position: fixed;
    width: 100%;
    max-width: 600px;
    height: 100vh;
    top: 0;
    left: calc((100% - 602px) / 2);
    border: 1px solid #8ebde6;
    border-top: 0;
    border-bottom: 0;
    z-index: -1;
  }
}

body,
button,
input,
textarea,
select {
  font: 500 1.4rem / calc(1.4rem + 1.05rem) "Yu Gothic", Meiryo, "Hiragino Kaku Gothic ProN", sans-serif;
  color: #676965;
}

header,
main,
footer {
  max-width: 600px;
  margin: auto;
  padding: 0 50px;
}

header {
  position: sticky;
  top: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  background: #f4f6fc;
  z-index: 100;
}

main *:first-child,
footer *:first-child {
  margin-top: 0;
}

main *:first-child h2:first-child,
footer *:first-child h2:first-child {
  margin-top: -246px;
}

main *:first-child *:not(h2):first-child,
footer *:first-child *:not(h2):first-child {
  margin-top: 0;
}

main {
  padding-top: 100px;
  padding-bottom: 150px;
}

a {
  color: #c78fc2;
}

a:hover {
  color: #b866b1;
}

/* メニュー */
.menu {
  font-family: "Rajdhani", sans-serif;
  font-weight: 500;
}

.menu ul {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.menu ul li {
  margin: 2px 7px;
}

.menu a {
  display: block;
  min-width: auto;
  padding: 0 7px;
  color: #dcc6ab;
  border: 1px solid transparent;
}

.menu a:hover {
  border-color: #dcc6ab;
}

.manu-toggler {
  display: none;
}

.fixed-menu {
  position: fixed;
  bottom: 49px;
  right: 49px;
}

.fixed-menu ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.fixed-menu a,
.fixed-menu button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 0;
  border: 0 !important;
  border-radius: 0 !important;
  background: #4a8ac7 !important;
  color: #fff !important;
}

.fixed-menu a::before,
.fixed-menu button::before {
  font: 900 16px/1 "Font Awesome 5 Free";
}

.fixed-menu a:hover,
.fixed-menu button:hover {
  opacity: 0.5;
}

.fixed-menu .pagetop a::before,
.fixed-menu .pagetop button::before {
  content: "\f106";
}

.fixed-menu .prev a::before,
.fixed-menu .prev button::before {
  content: "\f104";
}

.fixed-menu .next::before {
  content: none;
}

.fixed-menu .next a::before,
.fixed-menu .next button::before {
  content: "\f105";
}

.fixed-menu .toc a::before,
.fixed-menu .toc button::before {
  content: "\f0ca";
}

.fixed-menu .home a::before,
.fixed-menu .home button::before {
  content: "\f015";
}

@media only screen and (max-width: 900px) {
  .menu {
    display: none;
    padding: 7px 0;
    border: 1px solid #dcc6ab;
  }
  .menu ul {
    margin: 0;
    flex-wrap: wrap;
  }
  .menu ul li {
    width: 100%;
  }
  .menu a {
    display: block;
  }
  .manu-toggler {
    display: block;
    width: 40px;
    height: 40px;
    padding: 6px;
    background: #dcc6ab;
  }
  .manu-toggler::after {
    content: "";
    display: block;
    width: 26px;
    height: 1px;
    border: 1px solid #fff;
    transform: rotate(340deg);
  }
  .manu-toggler.open::after {
    content: "";
    display: block;
    width: 26px;
    height: 26px;
    border: 1px solid #fff;
    transform: rotate(0);
  }
  .fixed-menu {
    bottom: 60px;
    right: 50px;
  }
  .fixed-menu ul {
    flex-direction: row;
  }
}

/* 見出し */
h1 {
  margin: 0;
  font: 300 6rem/1 "Rajdhani", sans-serif;
  color: #4a8ac7;
}

h1 a {
  color: #4a8ac7;
}

h1 a:hover {
  color: #b866b1;
}

h2,
h3,
h4 {
  font-weight: 400;
}

h2,
h3,
h4 {
  font-size: 1.6rem;
  color: #4a8ac7;
  text-align: center;
}

h2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -100px auto 100px;
  padding-top: 200px;
  padding-left: 5px;
  letter-spacing: 5px;
}

h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 200px;
  height: 40px;
  margin-left: -5px;
  border: 1px solid #8ebde6;
  z-index: -1;
}

h3::after,
h4::after {
  display: block;
  margin: auto;
}

h3 {
  margin: 100px auto 50px;
  line-height: 260%;
}

h3::after {
  content: "";
  width: 200px;
  height: 1px;
  background: #8ebde6;
}

h4 {
  margin: 100px auto 50px;
  line-height: 140%;
}

h4::after {
  content: "\f0d7\f0d7\f0d7";
  margin-left: 3px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  letter-spacing: 3px;
}

h5 {
  font-size: 1.4rem;
  font-weight: 600;
  color: #4a8ac7;
}

/* リスト */
ul .description,
ol .description {
  margin-left: 10px;
}

ul .description::before,
ol .description::before {
  content: "…";
  margin-right: 10px;
}

ul li.next {
  list-style: none;
}

ul li.next::before {
  content: "→";
  margin-right: 5px;
  font-size: 120%;
}

ul.small {
  list-style: none;
  padding-left: 0;
}

ul.small li {
  display: inline;
}

ul.small li::before {
  color: #ac9c8c;
}

ul.small li:not(:first-child):not(.next)::before {
  margin: 0 5px 0 2px;
  content: ":";
  font-weight: 900;
}

ul.small li.next::before {
  margin: 0 7px 0 2px;
}

dl {
  margin: 10px 0;
}

dl dd {
  margin: 0 0 15px;
  padding: 0 0 15px 40px;
  border-bottom: 1px dotted #dcc6ab;
}

dl dd:last-of-type {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}

dl.inline {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

dl.inline dt,
dl.inline dd {
  vertical-align: top;
  margin: 0 0 15px 0;
  padding: 0 0 15px;
}

dl.inline dt:last-of-type,
dl.inline dd:last-of-type {
  margin-bottom: 0;
  padding-bottom: 0;
}

dl.inline dt {
  width: 200px;
  padding: 0 30px 10px 0;
  padding-right: 30px;
  border-bottom: 1px dotted #dcc6ab;
}

dl.inline dt:last-of-type {
  border-bottom: 0;
}

dl.inline dd {
  width: calc(100% - 200px);
}

dl.border {
  padding: 15px 20px;
  border: 1px dotted #dcc6ab;
  border-radius: 4px;
}

/* フォーム */
.form-inline > *,
.form-block > * {
  margin-bottom: 5px;
}

.form-block dl dt,
.form-block dl dd {
  border-bottom: 0;
}

.form-block dl.inline dt {
  width: 130px;
}

.form-block dl.inline dd {
  width: calc(100% - 130px);
}

.form-block > *,
.form-block dl dd > * {
  width: 100%;
  box-sizing: border-box;
}

.required::after {
  content: "*";
  color: #b866b1;
}

input,
textarea,
select,
button:not(.manu-toggler),
input[type="submit"],
input[type="button"] {
  border-radius: 4px;
}

input::placeholder,
textarea::placeholder,
select::placeholder,
button:not(.manu-toggler)::placeholder,
input[type="submit"]::placeholder,
input[type="button"]::placeholder {
  color: #dcc6ab;
}

input,
textarea,
select {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid #dcc6ab;
  box-sizing: border-box;
  background: transparent;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus,
select:hover,
select:focus {
  border: 1px solid #ac9c8c;
}

button:not(.manu-toggler),
input[type="submit"],
input[type="button"] {
  background: #dcc6ab;
  border: 1px solid #dcc6ab;
  color: #fff;
}

button:not(.manu-toggler):hover,
input[type="submit"]:hover,
input[type="button"]:hover {
  border: 1px solid #ac9c8c;
  background: #ac9c8c;
}

/* 装飾 */
b,
em,
strong {
  font-weight: bold;
}

em {
  font-style: normal;
  background: linear-gradient(transparent 50%, #dcc6ab 50%);
}

strong {
  background: #dcc6ab;
}

hr {
  border: 0;
}

hr::before {
  content: "■■■";
  display: block;
  margin: 75px 0;
  padding-left: 5px;
  text-align: center;
  letter-spacing: 5px;
  font-size: 1.2rem;
  color: #8ebde6;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-bold {
  font-weight: bold;
}

.text-small {
  font-size: smaller;
}

.area.area-diary.deco-border > div,
.area.area-diary.deco-bg > div {
  padding: 15px 20px;
  border-radius: 4px;
}

.area.area-diary.deco-border > div:not(:last-child)::after,
.area.area-diary.deco-bg > div:not(:last-child)::after {
  content: none;
}

.area.area-diary.deco-border > div {
  border: 1px solid #c4dbf0;
}

.area.area-diary.deco-bg > div {
  background: #e8ebf4;
}

.area.area-diary > div {
  margin-bottom: 30px;
  padding: 15px 0;
}

.area.area-diary > div:not(:last-child)::after {
  content: "";
  display: block;
  height: 1px;
  margin: 45px 0 0;
  border-bottom: 1px dashed #ddd;
}

.area.area-diary > div hr {
  border: 0;
  height: 1px;
  background: #c4dbf0;
}

.area.area-diary > div hr::before {
  content: none;
}

.area.area-diary .title {
  font-weight: 600;
}

.area.area-diary .date {
  text-align: right;
  font-size: 1.2rem;
}

.area.area-diary .date::before {
  content: "\f017";
  margin-right: 3px;
  font-family: "Font Awesome 5 Free";
  font-weight: 500;
}

.area.area-diary .more input[type="checkbox"],
.area.area-diary .more input[type="radio"] {
  display: none;
}

.area.area-diary .more input[type="checkbox"] + label,
.area.area-diary .more input[type="radio"] + label {
  display: block;
  text-align: center;
  color: #4a8ac7;
  cursor: pointer;
}

.area.area-diary .more input[type="checkbox"] + label::before,
.area.area-diary .more input[type="radio"] + label::before {
  content: "\f0d7 more";
  margin: 0 5px;
  font: 900 1.2rem/1 "Font Awesome 5 Free", "Yu Gothic", Meiryo, "Hiragino Kaku Gothic ProN", sans-serif;
}

.area.area-diary .more input[type="checkbox"] + label + *,
.area.area-diary .more input[type="radio"] + label + * {
  line-height: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
}

.area.area-diary .more input[type="checkbox"] + label + * *,
.area.area-diary .more input[type="radio"] + label + * * {
  transition: all 0.2s;
}

.area.area-diary .more input[type="checkbox"]:not(:checked) + label + * *,
.area.area-diary .more input[type="radio"]:not(:checked) + label + * * {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  line-height: 0;
}

.area.area-diary .more input[type="checkbox"]:not(:checked) + label + * *::before,
.area.area-diary .more input[type="checkbox"]:not(:checked) + label + * *::after,
.area.area-diary .more input[type="radio"]:not(:checked) + label + * *::before,
.area.area-diary .more input[type="radio"]:not(:checked) + label + * *::after {
  content: none;
}

.area.area-diary .more input[type="checkbox"]:checked + label::before,
.area.area-diary .more input[type="radio"]:checked + label::before {
  content: "\f0d8 more";
}

.area.area-diary .more input[type="checkbox"]:checked + label + *,
.area.area-diary .more input[type="radio"]:checked + label + * {
  margin: 10px 0 20px;
  line-height: 1.6;
  opacity: 1;
  visibility: visible;
  transition: line-height 0.3s ease-out, opacity 0.1s linear 0.1s, visibility 0.1s linear 0.1s;
}

/* スマホ設定 */
@media only screen and (max-width: 900px) {
  body,
  button {
    font-size: 1.4rem;
    line-height: calc(1.4rem + 1.05rem);
  }
  body::before {
    content: none;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  /* リスト */
  ul .description,
  ol .description {
    display: block;
    margin-left: 10px;
  }
  ul .description::before,
  ol .description::before {
    content: "└";
    margin-right: 10px;
  }
  dl.border dt,
  dl.border dd,
  dl.inline dt,
  dl.inline dd {
    display: block;
  }
  dl.border dt,
  dl.inline dt {
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
  }
  dl.border dd,
  dl.inline dd {
    width: calc(100% - 40px);
    padding-left: 40px;
  }
  /* フォーム */
  .form-inline input {
    width: 45%;
  }
  .form-block dl.inline dt {
    width: 100%;
    padding: 0;
  }
  .form-block dl.inline dd {
    width: 100%;
  }
  .form-block > *,
  .form-block dl dd > * {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 5px;
  }
}
/* ----- ▲ レイアウト　ここまで ▲ ----- */


/* ----- ▼ ここからオリジナル ▼ ----- */
.totalCount {
  text-align: right;
}